# Project exclude paths
/cmake-build-debug/
Guion P1a LocalGreedy MDP MHs 2020-21.pdf
/tablas/
/eigen-3.3.9/
Instancias y Tablas MDP 2020-21.zip
Instancias y Tablas MDP 2020-21.zip.opdownload
random.zip
Tablas_MDP_2020-21.xls